:root {
  --font-color: rgb(84, 119, 125);
  --main-color: #a63636;
  --secondary-color: rgb(254, 255, 228);
  --hearder-font: "Crimson Text", serif;
  --main-font: "Frank Ruhl Libre", serif;
}

/* @keyframes wiggle {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(45deg);
  }
} */

.App {
  margin: 0 auto;
  max-width: 1200px;
  color: var(--font-color);
  font-family: var(--main-font);
}

.App .app-header {
  margin: 20px auto 0;
  text-align: center;
}

h1 {
  font-family: var(--hearder-font);
  font-weight: 900;
}

.App .app-img {
  margin-left: 220px;
}

.App img {
  width: 70px;
  opacity: 0.6;
  position: relative;
  top: -7px;
}

.rotateimg180 {
  transform: rotate(55deg);

  /* animation-name: wiggle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
}

.App .app-footer {
  margin: 300px auto 30px;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
}

.App .app-footer a {
  /* text-decoration: none; */
  color: var(--secondary-color);
}
