.Dictionary form {
  border: 1px solid;
  border-radius: 50px;
}

.Dictionary .wordSearch {
  border-radius: 50px;
  border: none;
  background-color: transparent;
}

.wordSearch::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

.Dictionary .searchBtn {
  color: var(--font-color);
  border: none;
}



h2 {
  padding-left: 40px;
  font-family: var(--hearder-font);
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--main-color);
  opacity: 0.7;
}

.card {
  background-color: var(--secondary-color);
  border: none;
}

button-play-audio {
  font-size: 22px;
  padding: 0 5px;
  border-radius: 50px;
  color: var(--main-color);
  opacity: 0.6;
  /* background-color: var(--secondary-color); */
  background-color: transparent;
  border: none;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
}

.definition {
  line-height: normal;
  font-size: 20px;
}

.sound-text {
  padding: 0;
  padding-top: 15px;
  letter-spacing: 2px;
}

.sound {
  padding: 0;
  text-align: end;
}

.synonyms-list {
  list-style: none;
  font-size: 18px;
}
